<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>NOMBRE DE LA PYMES</h1>
        <p>El resto de la información que dice ahí en la especificación</p>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3 align="center">¡Utilizar la aplicación de Facebook!</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <button type="button" ng-click="openLoginDialog()" class="btn btn-primary btn-lg">¡Conectarse con la aplicación de Facebook!</button>

        <h3 id="resultadoLogin"></h3>
        <h3 id="pagAdministradas"></h3>

        <button type="button" ng-click="postOnWall()" class="btn btn-success btn-md">Publicar la encuesta en el muro de la página</button>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Programathon 2016</p>
            </div>
        </div>
    </footer>

</div>