<!--Table and divs that hold the pie charts-->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1>Redes Sociales</h1>
        <form name="userForm" ng-submit="submit(userForm.$valid)">
            <div class="form-group">
                <label for="facebookDir">Dirección de Facebook:</label>
                <input type="url" id="facebookDir" class="form-control" maxlength="300" placeholder="Max 300 caracteres" ng-model="resultado.facebookDir" required>
            </div>
            <div class="form-group">
                <label for="twitterDir">Dirección de Twitter:</label>
                <input type="url" id="twitterDir" class="form-control" maxlength="300" placeholder="Max 300 caracteres" ng-model="resultado.twitterDir">
            </div>
            <div class="form-group">
                <label for="youtubeDir">Dirección de YouTube:</label>
                <input type="url" id="youtubeDir" class="form-control" maxlength="300" placeholder="Max 300 caracteres" ng-model="resultado.youtubeDir">
            </div>

            <div class="form-group">
                <label for="linkedDir">Dirección de Linked:</label>
                <input type="url" id="linkedDir" class="form-control" maxlength="300" placeholder="Max 300 caracteres" ng-model="resultado.linkedDir">
            </div>
            <div class="form-group">
                <label for="siteDir">Página Web:</label>
                <input type="url" id="siteDir" class="form-control" maxlength="300" placeholder="Max 300 caracteres" ng-model="resultado.siteDir">
            </div>
            <div class="form-group">
                <label for="mailDir">Correo de Contacto:</label>
                <input type="email" id="mailDir" class="form-control" maxlength="50" placeholder="Max 50 caracteres" ng-model="resultado.mailDir">
            </div>

            <button ng-click="submit()" class="btn btn-success">Submit</button>

        </form>
        <button ng-click="cancel()" class="btn btn-success">Cancelar</button>
    </div>
    <div class="col-sm-3"></div>
</div>