<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputNombreComercial" class="sr-only">Nombre Comercial</label>
        <input type="text" id="inputNombreComercial" class="form-control" placeholder="Nombre Comercial" required autofocus>
        <label for="inputNombreUsuario" class="sr-only">Nombre Usuario</label>
        <input type="text" id="inputNombreUsuario" class="form-control" placeholder="Nombre Usuario" required>

            <select class="form-control" id="pais" required>
                <option ng-repeat="pais in paises track by $index">{{pais.Nombre}}</option>
            </select>

        <label for="inputContrasenia" class="sr-only">Contraseña</label>
        <input type="password" id="inputContrasenia" class="form-control" placeholder="Contraseña" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->