<!--Table and divs that hold the pie charts-->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1>Ingreso de Datos</h1>
        <form>
            <div class="form-group">
                <label for="nombreComercial">Nombre Comercial:</label>
                <input type="text" id="nombreComercial" class="form-control" maxlength="100" placeholder="Max 100 caracteres" ng-model="resultado.nombreComercial" required>
            </div>
            <div class="form-group">
                <label for="pais">País:</label>
                <select class="form-control" ng-model="resultado.pais" required>
                    <option ng-repeat="pais in paises" requiered>{{pais}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select class="form-control" ng-model="resultado.estado" required>
                    <option ng-repeat="estado in estados" required>{{estado}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sector">Sector:</label>
                <select class="form-control" ng-model="resultado.sector" required>
                    <option ng-repeat="sector in sectores" required>{{sector}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="identificacion">Identificación/Cédula Jurídica:</label>
                <input type="text" class="form-control" maxlength="50" placeholder="Max 50 caracteres" ng-model="resultado.identificacion" required>
            </div>
            <div class="form-group">
                <label for="inicioOperaciones">Año de Inicio de Operaciones:</label>
                <input type="number" min="1000" max="9999" placeholder="Max 4 dígitos"class="form-control" ng-model="resultado.inicioOperaciones" required>
            </div>
            <div class="form-group">
                <label for="generoPropietario">Género del Propietario:</label>
                <select class="form-control" ng-model="resultado.generoPropietario" required>
                    <option ng-repeat="genero in generos">{{genero}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" maxlength="50" placeholder="Max 50 dígitos" class="form-control" ng-model="resultado.telefono" required>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" placeholder="Max 200 caracteres" ng-model="resultado.direccion" required>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="true" ng-model="resultado.activa">¿Es una PYME activa?</label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="true" ng-model="resultado.familiar">¿Es una PYME familiar?</label>
            </div>
            <div class="form-group">
                <label class="label">Foto del Producto</label>
                <input class="file" type="file" accept="image/x-png, image/gif" onchange="previewFile()" id="foto">
                <br>
                <div class="img-thumbnail">
                    <img src="" class="img-responsive" style='max-width:30%' alt="Vista previa...">
                </div>
            </div>
            <button ng-click="submit()" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>